<!DOCTYPE html>

<html  	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    layout:decorator="template">


<head><meta charset="utf-8"></head>
<body>
<div layout:fragment="body">


  <div class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-4 pt-5 bg-dark">
            <div class="card-body text-center">
            	<img th:src="@{/resources/img/stop.png}">
              <h1>403</h1>
              <h3>Vous n'avez pas le droit d'acceder à ce ressource</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</body>

</html>