<!DOCTYPE html>

<html  	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    layout:decorator="template">


<head></head>
<body>
<div layout:fragment="body" >


  <div class="py-5  bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3" >
        	 
        </div>
        <div class="col-md-6">
          <div class="card text-center p-5 bg-dark text-light" style="border:none">
            <div class="card-body">
            	<img alt="" th:src="@{/resources/img/att.png}">
              <h1 class="mb-4">404</h1>
              <h3>Page introuvable !</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</body>

</html>